<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {{{ styles }}}
  </head>
  <body>
    <div id="app">{{{ bodyHTML }}}</div>
    <script>
      window.__INITIAL_STATE__ = {{{ initialState }}};
    </script>
    {{{ scripts }}}
  </body>
</html>
